.schedule-legend{
  position: absolute;
  height: 100%;
  left: .35em;
  //top:.70em;
    border-right: 3px solid white;
}

.hour-label{
  color: #000;
  font-size: 0.62em;
  font-weight: normal;
  text-align: right;
  font-variant: small-caps;
  background: #e4e4e4;
  border-top: 3px solid white;
  border-right: 3px solid white;
  padding-right: 0.1em;
  padding-top: 1.5em;
}

.first-hour-label{
  background: #e4e4e4;
  border-top: 3px solid white;
  border-right: 3px solid white;
}


.schedule-grid {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 2.5em;
}

.day-label {
    color: #000;
    display: block;
    text-align: center;
    font-size: 1.1em;
    font-variant: small-caps;
    //padding: 4px;
    background: #e4e4e4;
    border-top: 3px solid white;
    border-right: 3px solid white;
    font-weight: normal;
    padding-top: 0.15em;
}

.grid-day {
  //width: 1000;
  height: 100%;
  float: left;
}

.foo {
  //width: 1000;
  height: 3.5%;
  float: left;
}

.grid-hour {
  display: block;
  box-sizing: border-box;
  border-top: 3px solid white;
  border-right: 3px solid white;
  //position: relative;
}

.grid-day:last-of-type .grid-hour {
  border-right: none;
}

schedule-event {
  display: block;
  box-sizing: border-box;
  border-top: 3px solid white!important; //temp fix for the borders not showing
  border-right: 3px solid white !important;
  position: absolute;
  //height: 20%;
  width: 19%;
  color: #ffffff;
}

.schedule {
  height: 600px;
  margin-right: 15px;
  margin-top: 10px;
  position:relative; /* so the overlay will position properly */
  margin-bottom: 15px;
}

